body {
    background:#BF9B7A;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin: 10px;
    background: #D9B18F;
    border-radius:20px;
}

.assignment img {
    width: 200px; height: 200px;
    margin: 10px;
    border: 4px solid #758C74;
}
.assignment img:hover {
    border: 4px solid whitesmoke;
}

h1 {
    color:whitesmoke;
    text-align:center;
}

h1:hover {
    color:#758C74;
    
}

a {
    text-decoration: none;
    color: #758C74;
}
a:hover {
    color: whitesmoke
}